@charset "UTF-8";

//----------------------------------------------
@mixin button-variant-hover-bright($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: lighten($background, 10%);
    border-color: lighten($border, 25%);
  }

  &:hover {
    color: $color;
    background-color: lighten($background, 10%);
    border-color: lighten($border, 12%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: lighten($background, 10%);
    border-color: lighten($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: lighten($background, 17%);
      border-color: lighten($border, 25%);
    }
  }

  &:active,
  &.active {
    background-image: none;
  }

  .open > & {
    .dropdown-toggle {
      background-image: none;
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  // .badge {
  //   color: $background;
  //   background-color: $color;
  // }
}

//----------------------------------------------
@mixin button-variant-hover-inverse($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $background;
    background-color: $color;
    // border-color: darken($border, 25%);
  }

  &:hover {
    color: $background;
    background-color: $color;
    // border-color: darken($border, 12%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $background;
    background-color: $color;
    // border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $background;
      background-color: $color;
      // border-color: darken($border, 25%);
    }
  }

  &:active,
  &.active {
    background-image: none;
  }

  .open > & {
    .dropdown-toggle {
      background-image: none;
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      // border-color: $border;
    }
  }

  // .badge {
  //   color: $background;
  //   background-color: $color;
  // }
}

// Button
//----------------------------------------------
// .btn-*** {
//   @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
// }

//----------------------------------------------
.btn-multiline {
  white-space: normal;
}

//----------------------------------------------
.btn {
  @include transition(all $hover-transition-speed ease);

  &.arrow-blue-left {
    display: inline-block;
    padding-left: 30px;
    background-image: url("../img/arrow/arrow-blue-left.png");
    background-position: 5% 50%;
    background-repeat: no-repeat;
  }

  &.arrow-blue-right {
    display: inline-block;
    padding-right: 30px;
    background-image: url("../img/arrow/arrow-blue-right.png");
    background-position: 95% 50%;
    background-repeat: no-repeat;
  }

  &.arrow-circle-right {
    position: relative;
    display: inline-block;
    padding: 15px 90px 11px;

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;
      content: "";
    }

    &:before {
      width: 20px;
      height: 20px;
      margin-right: 15px;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    &:after {
      width: 6px;
      height: 6px;
      margin-right: 23px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
    }
  }
}

//----------------------------------------------
.btn-orange {
  @include button-variant(#fff, #fd7e14, #fd7e14);

  &:hover,
  &:focus {
    color: #fff !important;
    background-color: #fc5e0b !important;
    border-color: #fc5e0b;
  }

  &.btn-sm {
    padding: 5px 10px 2px;
    font-size: 14px;
    line-height: 1.4;

    @media (max-width: $screen-sm-max) {
      font-size: 13px;
    }
  }

  &.icon-arrow-right-yellow {
    &:after {
      display: inline-block;
      width: 10px;
      height: 12px;
      vertical-align: middle;
      background: url("../img/arrow/arrow-right-yellow.png") 0 0 no-repeat;
      content: "";
    }
  }
}

//----------------------------------------------
.btn-gradient-orange-animated {
  @include button-variant(#fff, transparent, #fff);
  position: relative;
  z-index: 1;
  padding: 20px 40px;
  border: 0;
  border-radius: 0;

  &:hover,
  &:focus {
    color: #fff;
  }

  &:hover {
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 9);

    &:after {
      opacity: 1;
    }
  }

  &:after {
    @include gradient-vertical(#f29e32, #ef8701, $start-percent: 0%, $end-percent: 100%);
    @include transition(all .3s ease);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    background-color: #ccc;
    content: "";
    opacity: 0;
  }

  &,
  &:active {
    @include gradient-vertical(#ef8701, #f29e32, $start-percent: 0%, $end-percent: 100%);
  }
}

//----------------------------------------------
.btn-invert-purple {
  $letter-spacing: .11em;

  @include button-variant(#a94579, #fff, #a94579);
  padding: 15px 4em 13px 4 + $letter-spacing;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: $letter-spacing;
  border-radius: 3px;
  background: linear-gradient(to right, #fff 50%, #a94579 50%);
  background-size: 200% 100%;
  transition: background-position 400ms cubic-bezier(.76, 0, .24, 1), all ease 500ms;

  @media (max-width: $screen-xs-max) {
    font-size: 11px;
  }

  &.bg-light-gray {
    background: linear-gradient(to right, #f2f2f2 50%, #a94579 50%);
    background-size: 200% 100%;
  }

  &.arrow-dark-pink {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 18px;
      bottom: 0;
      width: 14px;
      height: 3px;
      margin-top: auto;
      margin-bottom: auto;
      content: "";
      transition: all ease 500ms;
    }

    &:before {
      background: url("../img/icon/arrow-half-right-dark-pink.svg") 0 0 no-repeat;
    }

    &:after {
      @include opacity (0);
      background: url("../img/icon/arrow-half-right-white.svg") 0 0 no-repeat;
    }
  }

  &:hover,
  &:focus {
    &,
    &:active {
      @include box-shadow (none);
      color: #fff !important;
      background-color: #a94579;
      background-position: -100% 0;

      &.arrow-dark-pink {
        &:before,
        &:after {
          right: 13px;
        }

        &:after {
          @include opacity (1);
        }
      }
    }
  }
}
