@charset "UTF-8";

// sass-lint:disable brace-style
// stylelint-disable block-opening-brace-space-before, block-opening-brace-space-after, block-closing-brace-space-before
//----------------------------------------------
.fs11 {font-size: 11px !important;}
.fs12 {font-size: 12px !important;}

.fs14-xs {
  font-size: 14px !important;

  @media (max-width: $screen-xs-max) {
    font-size: 12px !important;
  }
}

//----------------------------------------------
.mt0 {margin-top: 0 !important;}

//----------------------------------------------
.mr0 {margin-right: 0 !important;}

//----------------------------------------------
.mb0 {margin-bottom: 0 !important;}

//----------------------------------------------
.ml0 {margin-left: 0 !important;}

//----------------------------------------------
.pt0 {padding-top: 0 !important;}

//----------------------------------------------
.pr0 {padding-right: 0 !important;}

//----------------------------------------------
.pb0 {padding-bottom: 0 !important;}

//----------------------------------------------
.pl0 {padding-left: 0 !important;}
// sass-lint:enable brace-style
// stylelint-enable block-opening-brace-space-before, block-opening-brace-space-after, block-closing-brace-space-before

//----------------------------------------------
.pull-none-xs {
  @media (max-width: $screen-xs-max) {
    float: none !important;
  }
}

.pull-none-sm {
  @media (max-width: $screen-sm-max) {
    float: none !important;
  }
}

.pull-none-md {
  @media (max-width: $screen-md-max) {
    float: none !important;
  }
}

//----------------------------------------------
.center-block-xs {
  @media (max-width: $screen-xs-max) {
    @include center-block;
  }
}

.center-block-sm {
  @media (max-width: $screen-sm-max) {
    @include center-block;
  }
}

.center-block-md {
  @media (max-width: $screen-md-max) {
    @include center-block;
  }
}

//----------------------------------------------
.rotate-90-xs {
  @media (max-width: $screen-xs-max) {
    @include rotate (90deg);
  }
}

.rotate-90-sm {
  @media (max-width: $screen-sm-max) {
    @include rotate (90deg);
  }
}
