@charset "UTF-8";

//----------------------------------------------
.section-news {
  .title {
    margin-bottom: 25px;
  }

  dl {
    padding: 0 10px 10px;
    margin-top: 14px;
    border-bottom: 1px dashed #bababa;
  }

  dt,
  dd {
    line-height: 1.4;
  }

  dt {
    position: relative;
    padding-right: 30px;
    padding-left: 15px;
    white-space: nowrap;

    &:before {
      position: absolute;
      top: 1px;
      left: 0;
      font-size: 11px;
      color: #003366;
      content: ">";
    }
  }
}

//----------------------------------------------
.section-process {
  .box {
    @include center-block;
    height: 243px;
    padding-top: 50px;

    @media (min-width: $screen-sm-min) {
      width: 200px;
    }

    @media (min-width: $screen-lg-min) {
      width: 254px;
    }
  }

  .table-cell {
    font-size: 20px;
    color: #fff;
  }

  .bg-1 {
    background: url("../img/common/bg-1.png") no-repeat 50% 50%;
  }

  .bg-2 {
    background: url("../img/common/bg-2.png") no-repeat 50% 50%;
  }

  .bg-3 {
    background: url("../img/common/bg-3.png") no-repeat 50% 50%;
  }

  .bg-4 {
    background: url("../img/common/bg-4.png") no-repeat 50% 50%;
  }
}

//----------------------------------------------
.section-timeline {
  position: relative;

  @media (min-width: $screen-md-min) {
    padding-left: 270px;
    background: url("../img/icon/timeline-bar.png") repeat-y 20px 0;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 20px;
    padding-bottom: 20px;

    .time-1000 {
      top: 15px;
    }

    .time-1400 {
      top: 180px;
    }

    .time-1500 {
      top: 262px;
    }
  }

  .time {
    font-size: 20px;
    color: #96a89a;

    @media (min-width: $screen-md-min) {
      position: absolute;
      left: 0;
    }

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
      margin-bottom: 5px;
    }

    .icon {
      margin-right: 5px;

      @media (min-width: $screen-sm-min) {
        margin-right: 15px;
      }
    }
  }

  .memo {
    margin-left: 25px;
    color: #009640;
  }

  p {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }
}

//----------------------------------------------
.section-col-2 {
  background-color: #f0f1f2;

  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .title {
    margin-top: 60px;

    @media (max-width: $screen-xs-max) {
      margin-top: 30px;
    }
  }

  .body {
    @media (min-width: $screen-md-min) {
      max-width: 450px;
    }

    @media (max-width: $screen-sm-max) {
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }

    &.pull-right {
      @media (min-width: $screen-md-min) {
        margin-right: 50px;
        margin-left: 20px;
      }

      @media (max-width: $screen-sm-max) {
        float: none !important;
      }
    }

    &.pull-left {
      padding-top: 7px;

      @media (min-width: $screen-md-min) {
        margin-right: 50px;
        margin-left: 50px;
      }

      @media (min-width: $screen-sm-min) {
        margin-right: 20px;
      }

      @media (max-width: $screen-sm-max) {
        float: none !important;
      }
    }
  }

  .row-btns {
    > div {
      margin-bottom: 10px;
    }
  }
}

//----------------------------------------------
.section-fv-with-sidebar {
  position: relative;
  height: 100vh;
  margin-bottom: 50px;
  color: #fff;
  background: url("../img/section/fv-bg/bg-farm.jpg") 50% 50% no-repeat;
  background-size: cover;

  .title {
    margin-top: 160px;
    margin-bottom: 35px;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: .143em;

    @media (max-width: $screen-xs-max) {
      margin-top: 70vw;
      margin-bottom: 28px;
      font-size: 28px;
      line-height: 1.571;
    }

    &,
    small {
      color: #fff;
    }

    small {
      display: block;
      margin-top: 34px;
      font-size: 14px;
      line-height: 1.75;
      letter-spacing: .15em;

      @media (max-width: $screen-xs-max) {
        margin-top: 16px;
        font-size: 11px;
        line-height: 2;
      }
    }
  }
}
