@charset "UTF-8";

//----------------------------------------------
.table {
  @media (min-width: $screen-sm-min) {
    table-layout: fixed;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        line-height: 1.428571429;
      }
    }
  }

  > thead {
    > tr {
      > th,
      > td {
        border-bottom-width: 1px;
      }
    }
  }

  > tbody {
    > tr {
      > th,
      > td {
        word-break: break-all;
      }
    }
  }

  th {
    font-weight: normal;
  }

  &.table-text-center {
    th,
    td {
      text-align: center;
    }
  }

  &.table-text-right {
    th,
    td {
      text-align: right;
    }
  }
}

//----------------------------------------------
.table-no-border {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding-left: 0;
        border-top: 0;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    border-bottom: 0;
  }
}

//----------------------------------------------
.table-border-radius-8 {
  $radius: 8px;

  overflow: hidden;
  background-color: #fff;
  border-collapse: separate;
  border-top: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  border-radius: $radius;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-left: 1px solid $table-border-color;
      }
    }
  }

  > thead {
    > tr {
      &:first-child {
        th {
          @include border-top-radius($radius);
        }
      }

      > th,
      > td {
        border-bottom-width: 0;
      }
    }
  }

  .border-bottom-left-radius {
    border-bottom-left-radius: $radius;
  }

  .border-bottom-right-radius {
    border-bottom-right-radius: $radius;
  }
}

//----------------------------------------------
.table-responsive {
  @media (max-width: $screen-xs-max) {
    > .table {
      > tbody {
        > tr {
          :first-child {
            > th,
            > td {
              border-top: 0;
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------
// mobile table
@media (max-width: $screen-xs-max) {
  .table-collapsed-xs {
    display: block;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;

    > tbody {
      display: block;

      > tr {
        display: block;

        > th,
        > td {
          display: block;
          width: auto;
          padding: 10px !important;
        }

        > th {
          @include clearfix();
          position: relative;
          border-top: 0 !important;
          border-bottom: 0 !important;
        }
      }
    }
  }
}

//----------------------------------------------
.table-cell {
  display: table;
  width: 100%;

  > .cell {
    display: table-cell;
  }

  &.bordered {
    margin-bottom: 30px;

    .cell {
      padding: 0 10px;
      margin-bottom: 35px;
      border-left: 1px solid #ccc;
    }
  }

  &.cleared-xs {
    @media (max-width: $screen-xs-max) {
      &,
      > .cell {
        display: block;
        width: auto;
      }
    }
  }

  &.cleared-sm {
    @media (max-width: $screen-sm-max) {
      &,
      > .cell {
        display: block;
        width: auto;
      }
    }
  }
}

//----------------------------------------------
.table-cell-blue {
  text-align: center;

  a {
    padding: 10px 5px 8px;
    color: #fff;
    vertical-align: middle;
    background-color: #0d6fb8;

    @media (min-width: $screen-sm-min) {
      width: 14.2857143%;
    }

    + a {
      @media (min-width: $screen-sm-min) {
        border-left: 1px solid #fff;
      }

      @media (max-width: $screen-xs-max) {
        border-top: 1px solid #fff;
      }
    }

    &:hover,
    &:focus {
      background-color: #2fa8e1;
    }
  }
}

//----------------------------------------------
.table-horizontal {
  border-collapse: separate;
  border-spacing: 4px;

  > thead,
  > tbody {
    > tr {
      > th {
        padding: 9px 10px 5px;
        color: #42210b;
        vertical-align: middle;
        background-color: #ffc099;

        small {
          font-size: 14px;

          @media (max-width: $screen-sm-max) {
            font-size: 12px;
          }
        }
      }
    }
  }

  > thead {
    @media (max-width: $screen-sm-max) {
      float: left;
      width: 50%;
    }

    > tr {
      &,
      > th {
        @media (max-width: $screen-sm-max) {
          display: block;
        }
      }

      > th {
        font-size: 24px;
        text-align: center;
        border-bottom: 0;

        @media (max-width: $screen-sm-max) {
          padding-top: 12px !important;
          padding-bottom: 8px !important;
          font-size: 20px;
          border-bottom: 5px solid #fff;
        }
      }
    }
  }

  > tbody {
    > tr {
      > th,
      > td {
        padding: 9px 10px 5px;
        border-top: 0;
      }

      > th {
        font-size: 20px;
        font-weight: bold;

        @media (min-width: $screen-sm-min) {
          width: 200px;
          padding-left: 48px;
        }

        @media (max-width: $screen-sm-max) {
          font-size: 16px;
        }
      }

      > td {
        background-color: #ffe1c2;

        @media (min-width: $screen-sm-min) {
          padding-right: 40px;
          padding-left: 45px;
        }

        @media (max-width: $screen-sm-max) {
          padding-right: 5px;
          padding-left: 5px;
        }

        small {
          font-size: 14px;

          @media (max-width: $screen-sm-max) {
            font-size: 12px;
          }
        }
      }
    }
  }

  &.table-horizontal-responsive-xs {
    margin-bottom: 14px;
    border-spacing: 6px 5px;

    > thead {
      @media (max-width: $screen-sm-max) {
        float: left;
        width: 50%;
      }

      > tr {
        &,
        > th {
          @media (max-width: $screen-sm-max) {
            display: block;
          }
        }

        > th {
          @media (max-width: $screen-sm-max) {
            padding-top: 12px !important;
            padding-bottom: 8px !important;
            font-size: 20px;
            border-bottom: 5px solid #fff;
          }
        }
      }
    }

    > tbody {
      @media (max-width: $screen-sm-max) {
        display: block;
        float: left;
        width: 50%;
      }

      > tr {
        &,
        > td {
          @media (max-width: $screen-sm-max) {
            display: block;
          }
        }

        > td {
          padding: 11px 10px 9px;
          font-size: 24px;
          text-align: center;

          @media (max-width: $screen-sm-max) {
            font-size: 20px;
            border-bottom: 5px solid #fff;
            border-left: 6px solid #fff;
          }
        }
      }
    }
  }
}

//----------------------------------------------
.table-cell-elastic-arrow {
  .cell {
    width: 100px;
    padding: 10px;
    vertical-align: middle;
  }

  .col-1 {
    color: #fff;
    background-color: #00a0e9;
  }

  .col-arrow {
    width: 20px;
    padding: 0;
    vertical-align: middle;

    &:before {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-color: transparent transparent transparent #00a0e9;
      border-style: solid;
      border-width: 55px 0 55px 20px;
      content: "";
    }
  }
}
