@charset "UTF-8";

//----------------------------------------------
.title-bordered-orange {
  padding-bottom: 3px;
  margin-top: 35px;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 3px solid #ff4500;

  @media (min-width: $screen-sm-min) {
    font-size: 28px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 21px;
  }
}

//----------------------------------------------
.title-bg-asymmetry {
  padding-top: 40px;
  padding-bottom: 34px;
  text-align: center;

  &.paint-strong-green {
    background: url("../img/common/bg-title.png") no-repeat 50% 0;
  }
}

//----------------------------------------------
.title-border-bottom-switch-orange {
  position: relative;
  padding-bottom: 3px;
  font-weight: bold;
  border-bottom: 3px solid #ccc;

  @media (max-width: $screen-xs-max) {
    font-size: 21px;
  }

  &:after {
    position: absolute;
    bottom: -3px;
    display: block;
    width: 10%;
    overflow: hidden;
    line-height: 0;
    border-bottom: 3px solid #ff4500;
    content: ".";
  }
}

//----------------------------------------------
.title-border-left-orange {
  position: relative;
  padding: 4px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  @media (max-width: $screen-xs-max) {
    font-size: 21px;
  }

  &:after {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
    display: block;
    width: 6px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ff4500;
    content: "";
  }
}

//----------------------------------------------
.title-bg-blue-and-red {
  padding: 10px;
  background: linear-gradient(0deg, #b1b1ff 0%, #b1b1ff 50%, #ff9d9d 50%, #ff9d9d 100%);
}

//----------------------------------------------
.title-ribbon-bottom-blue {
  position: relative;
  display: inline-block;
  min-width: 220px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #0068b7;

  @media (max-width: $screen-xs-max) {
    min-width: 130px;
    margin-bottom: 0;
  }

  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    content: "";
  }

  &:before {
    left: 0;
    border-color: transparent transparent transparent #fff;
    border-width: 23px 0 0 110px;
  }

  &:after {
    right: 0;
    border-color: transparent transparent #fff;
    border-width: 0 0 23px 110px;
  }
}

//----------------------------------------------
.title-ribbon-both-shadow {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  background-color: #ccc;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    display: block;
    width: 10px;
    height: 0;
    content: "";
  }

  &:before {
    left: -10px;
    border-bottom: 10px solid #000;
    border-left: 10px solid transparent;
  }

  &:after {
    right: -10px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
  }
}

//----------------------------------------------
.title-stroke-blue {
  font-style: italic;
  font-size: 46px;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-shadow: #090059 5px 0 0, #090059 4.90033px 0.993347px 0, #090059 4.60531px 1.94709px 0, #090059 4.12668px 2.82321px 0, #090059 3.48353px 3.58678px 0, #090059 2.70151px 4.20736px 0, #090059 1.81179px 4.6602px 0, #090059 0.849836px 4.92725px 0, #090059 -0.145998px 4.99787px 0, #090059 -1.13601px 4.86924px 0, #090059 -2.08073px 4.54649px 0, #090059 -2.94251px 4.04248px 0, #090059 -3.68697px 3.37732px 0, #090059 -4.28444px 2.57751px 0, #090059 -4.71111px 1.67494px 0, #090059 -4.94996px 0.7056px 0, #090059 -4.99147px -0.291871px 0, #090059 -4.83399px -1.27771px 0, #090059 -4.48379px -2.2126px 0, #090059 -3.95484px -3.05929px 0, #090059 -3.26822px -3.78401px 0, #090059 -2.4513px -4.35788px 0, #090059 -1.53666px -4.75801px 0, #090059 -0.560763px -4.96845px 0, #090059 0.437495px -4.98082px 0, #090059 1.41831px -4.79462px 0, #090059 2.34258px -4.41727px 0, #090059 3.17346px -3.86382px 0, #090059 3.87783px -3.15633px 0, #090059 4.4276px -2.32301px 0, #090059 4.80085px -1.39708px 0, #090059 4.98271px -0.415447px 0;

  @media (max-width: $screen-md-max) {
    font-size: 5vw;
  }
}
